<div id="footer">
  <div class="flex nav_container_footer">
    <div class="container">
      <div class="footer_content">
        <div class="nav_links_footer">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/new-post">Create</a></li>
          </ul>
        </div>
        <div class="footer_right">
          <p class="footer_text">&lt;rat/&gt;</p>
        </div>
      </div>
    </div>
  </div>
</div>
