<div id="nav">
  <div class="flex nav_container_top">
    <div class="container">
      <p class="title">Blog Hog</p>
    </div>
  </div>
  <div class="flex nav_container_bottom">
    <div class="container nav_links">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/new-post">Create</a></li>
      </ul>
    </div>
  </div>
</div>
