* {
  box-sizing: border-box;
  font-family: "Instrument Sans", sans-serif;
  color: #333;
}

body {
  background-color: #f5f6f7;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

/* Global */

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 2rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form */

::-webkit-resizer{
  display: none;
}

.form_element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 0 1rem;
}

.form_element > label {
  color: #364F6B;
  font-size: 1.5rem;
  margin: 0 0 0.5rem;
}

.form_element > input,
.form_element > textarea {
  max-width: 100%;
  width: 100%;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  outline: none;
  border-radius: 1rem;
  border: 1px solid #364F6B;
}

.form_element > input {
  height: 3rem;
}

.form_element > textarea {
  min-height: 300px;
}

.form_element > input:focus,
.form_element > textarea:focus {
  box-shadow: #364F6B 0 0 0.25rem;
}

.form_element > button {
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  color: #fff;
  border: 1px solid #364F6B;
  background-color: #364F6B;
  font-size: 1rem;
}

.form_element > button:hover {
  background-color: #fff;
  color: #364F6B;
  cursor: pointer;
}

/* Nav */

#nav {
  position: sticky;
  top: 0;
}

.nav_container_top {
  background-color: #364F6B;
  padding: 1rem 0;
}

.title {
  color: #f5f6f7;
  margin: 0;
  font-size: 4rem;
}

.nav_container_bottom {
  background-color: #f5f6f7;
  border-bottom: 1px solid #364F6B;
  padding: 1rem 0;
}

.nav_links ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav_links ul li a {
  color: #364F6B;
  font-size: 1rem;
}

@media (max-width: 900px) {
  .nav_container_top {
    justify-content: center;
    
  }

  .title {
    text-align: center;
    font-size: 2rem;
  }

  .nav_container_bottom {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
  }

  .nav_links ul {
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }

  .nav_links ul li a {
    color: #364F6B;
    font-size: 1rem;
  }
}

/* Blog */

/* Home */

.home_container_grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  min-height: 600px;
  gap: 2rem;
  margin: 2rem 0;
}

.home_container_grid > div {
  background-color: #ffffff;
  border-radius: 1rem;
}

.top_posts .headline_top {
  background-color: #364F6B;
  padding: 0.5rem 2rem;
  text-align: center;
}

.top_posts .headline_top h2 {
  color: #f5f6f7
}

.post_feed,
.top_posts {
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  border: 1px solid #364F6B;
  overflow: hidden;
}

.top_posts .headline {
  padding: 1rem 2rem;
}

.post_feed .post {
  padding: 1.5rem 2rem;
}

.post_feed .post:nth-child(odd),
.top_posts .headline:nth-child(odd) {
  background-color: #f5f5f5;
}

.post_feed .post:last-of-type,
.top_posts .headline:last-of-type {
  margin: 0;
}

.post_feed .post_details {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #364F6B;
}  

.top_posts h2  {
  margin: 0 0 0.25rem;
  font-size: 1rem;
}

.post_feed h2 {
  margin: 1rem 0 0.5rem;
  font-size: 1.25rem;
}

.post_feed a,
.top_posts a {
  color: #364F6B;
}

.post_feed a:hover,
.top_posts a:hover {
  text-decoration: underline;
}

.top_posts .post_details p,
.post_feed .post_details p { 
  color: #364F6B;
  margin: 0;
  font-size: 0.75rem;
}

.post_feed .post_details {
  padding: 0 0 1rem;
}

.post_feed .post_details p:first-child:after {
  content: "|";
  margin: 0 0.3rem;
}

.post_feed .post_body {
  margin: 1rem 0;
  font-size: 1rem;
  text-align: justify;
}

@media (max-width: 900px) {
  .home_container_grid {
    grid-template-columns: 1fr;
  }
}

/* Create */

.create_post_container {
  background-color: #ffffff;
  border-radius: 1rem;
  margin: 2rem 0;
}

.create_post_container form {
  padding: 2rem;
}

/* View */

.view_post_container,
.post_controls_container {
  background-color: #ffffff;
  border-radius: 1rem;
  margin: 2rem 0;
}

.post_controls_container {
  max-height: fit-content;
}

.view_post {
  padding: 2em;
}

.view_post h2 {
  margin: 1rem 0 0.5rem;
  font-size: 2rem;
  color: #364F6B;
}

.view_post p {
  margin: 1rem 0;
  font-size: 1rem;
  text-align: justify;
}

.view_post_details {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #364F6B;
}

.view_post_details {
  padding: 0 0 1rem;
}

.view_post_details p { 
  color: #364F6B;
  font-size: 0.75rem;
  margin: 0;
}

.view_post_details p::after {
  content: "|";
  margin: 0 0.3rem;
}

.view_post_details .edited {
  color: #fc5185;
}

.view_post_details p:last-child:after {
  content: none;
}

.view_grid {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;
}

.post_controls {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.post_controls .button {
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  color: #fff;
  border: 1px solid #364F6B;
  background-color: #364F6B;
  font-size: 1rem;
}

.post_controls .button.delete {
  border: 1px solid #fc5185;
  background-color: #fc5185;
}

.post_controls .button:hover {
  background-color: #fff;
  color: #364F6B;
  cursor: pointer;
}

.post_controls .button.delete:hover {
  color: #fc5185;
}

/* Footer */

.nav_container_footer {
  background-color: #fc5185;
  padding: 1rem 0;
}

.footer_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_links_footer ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.nav_links_footer ul li a {
  color: #f5f6f7;
  font-size: 1rem;
}

.nav_links_footer ul li a:hover {
  text-decoration: underline;
}

.footer_text {
  color: #f5f6f7;
  font-size: 0.75rem;
  margin: 0;
}

@media (max-width: 900px) {
  .footer_content,
  .nav_links_footer ul {
    justify-content: center;
    flex-direction: column;
  }

  .footer_content {
    gap: 1.5rem;
  }
}