<div id="create_body">
  <div class="flex">
    <div class="container">
      <div class="create_post_container">
        <form action="/create-post" method="POST">

          <div class="form_element">
            <label for="postTitle">Title</label>
            <input type="text" id="postTitle" name="postTitle" required>
          </div>

          <div class="form_element">
            <label for="postBody">Post</label>
            <textarea type="text" id="postBody" name="postBody" required></textarea>
          </div>
          
          <div class="form_element">
            <button class="submit">Submit</button>
          </div>
        </form> 
      </div>
    </div>
  </div>
</div>
